<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Reset Password</h1>
    <form action="/password/reset/<%= token %>" method="POST">
        <label for="password">New Password:</label>
        <input type="password" name="password" id="password" required>
        <button type="submit">Reset Password</button>
    </form>
</body>
</html>
